* {
  box-sizing: border-box;
}

body {
  font-family: "Varela Round", sans-serif;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.column-full {
  flex-basis: 100%;
  text-align: center;
}

.column-seventh {
  flex-basis: 10%;
  text-align: center;
  border: solid black 1px;
  border-radius: 4px;
  font-size: 18px;
}

.add-entry {
  margin: 30px 0;
  font-family: "Varela Round", sans-serif;
  background-color: white;
  padding: 10px 50px;
  font-size: 12px;
  box-shadow: 2px 3px;
}
