* {
  box-sizing: border-box;
}

body {
  font-family: "Varela Round", sans-serif;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.column-full {
  flex-basis: 100%;
  text-align: center;
}

.column-seventh {
  flex-basis: 10%;
  text-align: center;
  border: solid black 1px;
  border-radius: 4px;
  font-size: 18px;
}

.add-entry {
  margin: 30px 0;
  font-family: "Varela Round", sans-serif;
  background-color: white;
  padding: 10px 50px;
  font-size: 12px;
  box-shadow: 2px 3px;
}

.hidden {
  display: none;
}

.modal {
  border: solid 1px black;
  width: 600px;
  height: 250px;
  position: absolute;
  top: calc(45vh - (250px/2));
  left: calc(50% - 300px);
  padding: 0 30px;
}

.select {
  justify-content: start;
}

.column-sixth {
  margin-right: 15px;
  margin-bottom: 15px;
}

.heading {
  font-size: 25px;
  margin: 10px 0;
}

#description {
  width: 540px;
  font-family: "Varela Round", sans-serif;
}

.column-auto {
  flex-basis: auto;
  justify-content: end;
}

.row-submit {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin-top: 10px;
}

#day-select,
#time-select,
#submit {
  font-family: "Varela Round", sans-serif;
}
